* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montserrat', sans-serif;
  }
  
  #app {
    background:lightblue;
    background-size: cover;
    background-position: bottom;
    transition: 0.4s;
  }
  
  #app.warm {
    background: lightcoral;
  }
  
  main {
    min-height: 100vh;
    padding: 25px;
  }
  
  .weather-wrap{
    text-align: center;
  }
  
  .search-box {
    width: 100%;
    margin-bottom: 30px;
  
  }
  
  .search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    color: #313131;
    font-size: 20px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 16px 0px 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
  }
  
  .search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px 0px 16px 0px;
  }
  
  .location-box .location {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  }
  
  .location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
  }
  
  .weater-box {
    display: inline-block;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    margin: 30px 0px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  }
  
  .weater-box .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  }
  
  .weater-box .weather {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  }
  
  .weather-forecast {
    display: block;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    margin: 30px 0px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  }
  
  .weather-forecast .forecast {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
  }

  .view-enter-active, .view-leave-active { 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
  }
  
  .view-enter, .view-leave-to { 
    opacity: 0; 
  }
  
  .view-enter-to, .view-leave {
    opacity: 1;
  }
  